@model SelfServiceAD.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="alert alert-danger">You are not allowed to change your password. Contact the system administrator for more information.</div>

@Html.ActionLink("Back", "Index", "Home", new { @class = "btn btn-link"} )