body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    width: 700px;
}

.validation-summary-errors {
    background-color: #f2dede;
    color: #a94442;
    border: 2px solid #ebccd1;
    margin-bottom: 20px;
    padding: 10px;
}

.validation-summary-errors ul {
    padding: 0;
    margin: 0;
    list-style: none;
}